<div class="center hero-unit">
    <h1>Expense Tarcker<br/> </h1>
		<p>We need to track business expenses. Concentrate on tracking business expenses. Business expense tracking is priority one. No matter how it’s said, it's still no fun. Since we all have to do it, ExpenseTracker aims to make keeping track of those expenses as painless as possible
		Expense reports.</p>
		<p> The phrase conjures images of wrinkled paper crammed into envelopes and overstuffed, unzipable zipper pouches in your luggage. Why is getting your money back after a business trip more work than the travel? Fear these tiny tree pieces no longer, my friend. Concur Breeze is here to help.
		No more paper receipts. No more mistakes.    </p>

		<p>No more paper receipts. No more mistakes. Now, expense reports are automatically populated with corporate or personal card data for paperless accounting. That leads to fewer errors and potential fraud associated with manual entry. With fewer menial tasks to perform, employee productivity improves.
		</p>
<h3>Things you can do with ExpenseTracker </h3>
	<ul>
    	<li>Click Signup if you are a new employee </li>

    	<li>Or Signin using ur email id and password  </li>

    	<li>File for the expense, if you are an employee </li>

    	<li>Approve or Decline your Subordinate Expense   </li>


  	</ul>

    	

    	<%= link_to "Sign up now!", new_employee_registration_path, class: "btn btn-large btn-primary" %>
  	</div>





