<% if @vendors %>
<h1>Top Vendors</h1>
<table class="table table-striped">
 <thead>
  <tr>
    <th>Vendor</th>
    <th>Total Amount</th>
  </tr>
  </thead>
  <tbody>
  <% @vendors.each do |vendor| -%>
  <tr>
    <td><%= vendor.vendor_name %></td>
    <td><%= vendor.tot_amount %></td>
  </tr>
  <% end %>
  </tbody>
</table>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
       <script type="text/javascript">
         google.load("visualization", "1", {packages:["corechart"]});
         google.setOnLoadCallback(drawChart);
         function drawChart() {
           var data = new google.visualization.DataTable();
           data.addColumn('string', 'Vendor Name');
           data.addColumn('number', 'Amount');
         <% @vendors.each do |vendor| -%>
           data.addRows([["<%= vendor.vendor_name %>" ,<%= vendor.tot_amount %>]])  ;
         <% end %>

            var options = {
             title: 'Top Vendors'
           };

           var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
           chart.draw(data, options);
         }
       </script>

       <div id="chart_div" style="width: 900px; height: 500px;"></div>
<% end %>